@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

@font-face {
  font-family: "bernier";
  src:
    url("fonts/Bernier/bernier-Regular.otf"),
    url("fonts/Bernier/bernier-Regular.ttf")
}

details summary {
  list-style: none;
  transition: margin 150ms ease-out;
}

details[open] summary {
  list-style: none;
  margin-bottom: 10px;
}

details summary::before {
  content: url(assets/BsPlus.svg);
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: end;
}

details[open] summary::before {
  content: url(assets/BsDash.png);
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: end;
}